* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F3F3E0;
}

/* main div */
.main-div {
    width: 100%;
    height: 100vh;
    background-color: #CBDCEB;
}

/* container-img */
.container-img {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* img */
/* Imagen del ingeniero */
/* Imagen del ingeniero */
img {
    width: 300px; /* Ancho fijo */
    height: 350px; /* Alto fijo */
    object-fit: cover; /* Ajustar para que se recorte y mantenga proporciones */
    display: block; /* Elimina posibles márgenes alrededor de la imagen */
    transition: opacity 0.5s ease; /* Transición suave para cambios */
}

#engineerImg2{

    width: 200px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* Ajustar para que se recorte y mantenga proporciones */
    display: block; /* Elimina posibles márgenes alrededor de la imagen */
    transition: opacity 0.5s ease; /* Transición suave para cambios */
    
}


/* container-div */
.container-div {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: blue;
    overflow: hidden;
}

/* div */
.div {
    position: absolute;
    left: 50%; /* Centramos inicialmente */
    transform: translateX(-50%); /* Ajustamos el centro */
    height: 150px;
    width: 300px;
    border-radius: 30px;
    background-color: #133E87;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    transition: all 1s ease; /* Animación suave */
}

/* container-button */
.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}

/* button */
button {
    padding: 20px;
    border-radius: 10px;
    transition: all 1s;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 5px black;
    background-color: #e94c0e;
}

button:active {
    cursor: pointer;
    padding: 18px;
    transition: all 0.1s;
    background-color: #ff0000;
}
